src/__pycache__/
test.py
# Ignore results folder
results/
signclip_results/

# Ignore everything under mock_videos/
mock_videos/*

# Except files directly inside mock_videos/
!mock_videos/*.*

# You can also optionally ensure hidden files are included
!mock_videos/.*
val_rgb_front_clips.zip
val_rgb_front_clips/
data/vocab/gloss_vocab_embed

__pycache__/
*.pyc
*.pyo
*.pyd