src/__pycache__/
test.py
src/vocab_embed
# Ignore everything under mock_videos/
mock_videos/*

# Except files directly inside mock_videos/
!mock_videos/*.*

# You can also optionally ensure hidden files are included
!mock_videos/.*
val_rgb_front_clips.zip
val_rgb_front_clips/
mock_videos/*
mock_sentences/*
src/gloss_vocab_embed
src/vocab_embed_new
src/vocab_embed_new2
put_here.py

signclip_results_vocab_new/
results_old/
signclip_results_old/
__pycache__/